<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Novo Usuário</title>
    <style>.error { color: red; } .success { color: green; }</style>
    </head>
<body>
    <h1>Registrar</h1>

    <div th:if="${errorMessage}" class="error" th:text="${errorMessage}"></div>
    <div th:if="${successMessage}" class="success" th:text="${successMessage}"></div>

    <form th:action="@{/users/save}" th:object="${userRequest}" method="post">
        <div>
            <label for="name">Nome:</label>
            <input type="text" id="name" th:field="*{name}" required>
            </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required>
        </div>
        <div>
            <label for="password">Senha:</label>
            <input type="password" id="password" th:field="*{password}" required>
        </div>
        <div>
            <label for="position">Cargo:</label>
            <input type="text" id="position" th:field="*{position}">
        </div>
        <br>
        <button type="submit">Registrar</button>
    </form>
    <p>Já tem uma conta? <a th:href="@{/login}">Faça login</a></p>
</body>
</html>