<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuários</title>
</head>
<body>
    <h1>Usuários Cadastrados</h1>

    <form th:action="@{/users}" method="get">
        <label>
            <input type="text" name="nome" placeholder="Pesquisar por nome...">
        </label>
        <button type="submit">Pesquisar</button>
    </form>
    <br>

    <a th:href="@{/users/register}">Cadastrar Novo Usuário</a>
    <br><br>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Cargo</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">1</td>
                <td th:text="${user.name}">Nome do Usuário</td>
                <td th:text="${user.email}">email@exemplo.com</td>
                <td th:text="${user.position}">Cargo do Usuário</td>
            </tr>
        </tbody>
    </table>
</body>
</html>