body.login-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f6fa;
}

.login-card {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
}

.login-card .card-header {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.login-card .card-footer {
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}